# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# services dependencies
/services/*/node_modules
/services/translation-service/node_modules
/services/websocket-service/node_modules
/services/api-service/node_modules
/services/web-app/node_modules


# builds
/services/web-app/.next

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
exports/*
!exports/.gitkeep

.env
.env.*
!.env.example

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
